/* game wrapper */
.wrapper{
    position:relative;
    top:calc(50% - 250px);
    left:calc(50% - 325px);
    width:500px;
    height:600px;
    border: 2px double #8f8f8f;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:stretch;
    /* flex-wrap:nowrap; */
    box-sizing:border-box;
}

    .connection-state{
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 5%;
        margin:1px;
        border: 2px double #8f8f8f;
        box-sizing:border-box;
    }

        .connected{
            color:#00ff00;
        }

        .disconnected{
            color:#ff0000;
        }

    /* scores displaying */
    .score-counter{
        /* flex-grow: 0; */
        /* flex-shrink: 2; */
        border: 2px double #8f8f8f;
        margin:1px;
        flex-basis: 11%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: stretch;
        justify-content: space-between;
        box-sizing:border-box;
    }


        .player1, .red-scores{
            color:#ff0000;
            padding-left:2px;
            border-bottom: 1px double #8f8f8f;
            background: #ff000018;
            flex-basis: 50%;
            flex-grow: 1;
            flex-shrink: 1;
        }

        .player2, .blue-scores{
            color:#0000ff;
            padding-left:2px;
            background: #0000ff18;
            flex-basis: 50%;
            flex-grow: 1;
            flex-shrink: 1;
        }

            .move{
                width:14px;
                height:14px;
                display: inline-block;
                border-radius: 7px;
                margin-top: 6px;
                
            }

            .player1 > .move{
                background:#ff0000;
            }

            .player2 > .move{
                background:#0000ff;
            }

    /* for winner displaying */
    .winner{
        position:relative;
        width:500px;
        top:70px;
        left:calc(50% - 250px);
        height:1.7em;
        font-size: 1.5em;
        text-align: center;
    }

    .field-wrapper{
        /* flex:10; */
        border: 2px solid #8f8f8f;
        box-sizing:border-box;
        margin:1px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 83%;
    }

        .field{
            /* display:table; */
            width:100%;
            height:100%;
            /* border-collapse: collapse;
            position: relative; */
        }

            .cell{
                display:table-cell;
                width:calc(100% / 20);
                height:calc(100% / 20);
                border:1px solid #4f51a1;
            }

            .my-dot, .opp-dot{

            }

            .mydot{
                
            }



    .tabs-wrapper{
        flex:3;
        border: 2px solid #8f8f8f;
        margin:1px;
        padding:2px;
        display:flex;
        flex-flow:column wrap;
        font-size:1.2em;

    }

        .tab{
            border: 2px solid #8f8f8f;
            margin:1px;
            padding:2px;
            height:calc(100% / 10);
            text-align: center;
        }

        .tab:hover{
            cursor:pointer;
        }