rect{
    stroke:#8a8bbb80;
    stroke-width:0.5px;
    fill: #ffffff;
    /* box-sizing: border-box; */
}

circle{
    /* stroke:#dddddd3b; */
    fill: #ffffff3b;
}

circle:hover{
    fill: #9494943b;
    cursor:pointer;
}

polygon.red{
    fill: #ff000054;
    stroke:#ff0000;
    stroke-width:1px;
}

polygon.blue{
    fill: #0000ff54;
    stroke:#0000ff;
    stroke-width:1px;
}